<div class="content p-3">
   <div class="ui top attached menu">
      <a class="item active" data-tab="first"><i class="fas fa-table"> Unidades</i></a>
      <a class="item" data-tab="second"><i class="fas fa-plus-square"> Cadastrar</i></a>
   </div>
   <div class="ui bottom attached tab segment active" data-tab="first">
      <!--<table datatable [dtOptions]="dtOptions" class="ui celled small table"></table>-->
   </div>
   <div class="ui bottom attached tab segment" data-tab="second">
      <form class="ui form" #f="ngForm"> 
      <div class="fields">
         <div class="five wide field">
            <label>Nome Unidade</label>
            <input type="text" name="nome_unidade"  required>
         </div>
      </div>
      <div class="fields">
         <div class="five wide field">
            <label>Logradouro</label>
            <input type="text" name="logradouro" required>
         </div>
         <div class="two wide field">
            <label>Bairro</label>
            <input type="text" name="bairro"  required>
         </div>
         <div class="two wide field">
            <label>Cidade</label>
            <input type="text" name="cidade"  required>
         </div>
         <div class="four wide field">
            <label>Estado</label>
            <div class="two fields">
               <select class="ui fluid search dropdown" name="estado" required sm-dropdown>
               <option value=""></option>
               <option value="AC">Acre</option>
               <option value="AL">Alagoas</option>
               <option value="AP">Amapá</option>
               <option value="AM">Amazonas</option>
               <option value="BA">Bahia</option>
               <option value="CE">Ceará</option>
               <option value="DF">Distrito Federal</option>
               <option value="ES">Espírito Santo</option>
               <option value="GO">Goiás</option>
               <option value="MA">Maranhão</option>
               <option value="MT">Mato Grosso</option>
               <option value="MS">Mato Grosso do Sul</option>
               <option value="MG">Minas Gerais</option>
               <option value="PA">Pará</option>
               <option value="PB">Paraíba</option>
               <option value="PR">Paraná</option>
               <option value="PE">Pernambuco</option>
               <option value="PI">Piauí</option>
               <option value="RJ">Rio de Janeiro</option>
               <option value="RN">Rio Grande do Norte</option>
               <option value="RS">Rio Grande do Sul</option>
               <option value="RO">Rondônia</option>
               <option value="RR">Roraima</option>
               <option value="SC">Santa Catarina</option>
               <option value="SP">São Paulo</option>
               <option value="SE">Sergipe</option>
               <option value="TO">Tocantins</option>
               </select>
            </div>
         </div>
         <div class="two wide field">
            <label>CEP</label>
            <input type="text" name="cep"  mask="00000-000" minlength="8" required>
         </div>
      </div>
      <div class="fields">
         <button class="ui primary button float-right" type="submit" [disabled]="!f.valid">
         Salvar
         </button>
      </div>
      </form>
   </div>
</div>