<div class="content p-3">


<div class="html ui top attached segment">
		
	<div class="ui top attached label"><i data-content="DashBoard" class="right floated fas fa-chart-line"></i> DashBoard</div>

<div class="ui four stackable cards">

<div class="ui raised green card">
	<div class="content">
	  <i class="left floated fas fa-box-open fa-3x" style="color: #28a745"></i>
	  <i class="right floated far fa-3x">00</i>
	</div>
    <div class="ui bottom attached basic button"  data-tooltip="ver todos em estoque" data-position="bottom center">
      <i class="fas fa-angle-right icon"></i>
      Em estoque
    </div>

</div>
<div class="ui raised red card">
	<div class="content">
	  <i class="left floated far fa-calendar-minus fa-3x" style="color: #dc3545"></i>
	  <i class="right floated far fa-3x">00</i>
	</div>
    <div class="ui bottom attached basic button"  data-tooltip="ver todos em empréstimo" data-position="bottom center">
      <i class="fas fa-angle-right icon"></i>
      Em empréstimo
    </div>
</div>
<div class="ui raised yellow card">
	<div class="content">
	  <i class="left floated far fa-trash-alt fa-3x" style="color: #ffc107"></i>
	  <i class="right floated far fa-3x">00</i>
	</div>
    <div class="ui bottom attached basic button"  data-tooltip="ver todos em descarte" data-position="bottom center">
      <i class="fas fa-angle-right icon"></i>
      Descarte
    </div>
</div>
<div class="ui raised blue card">
	<div class="content">
	  <i class="left floated fas fa-cogs fa-3x" style="color: #007bff"></i>
	  <i class="right floated far fa-3x">00</i>
	</div>
    <div class="ui bottom attached basic button" data-tooltip="ver todos em conserto" data-position="bottom center">
      <i class="fas fa-angle-right icon"></i>
      Em conserto
    </div>
</div>

</div>

</div>

<div class="html ui top attached segment">
		
	<div class="ui top attached label">Example <i data-content="Copy code" class="copy link icon"></i></div>

<table class="ui selectable celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>No Action</td>
      <td>None</td>
    </tr>
  </tbody>
</table>

</div>



</div>
